pyrogram
tgcrypto
pyromod==1.5
motor
dnspython
async-timeout
nest_asyncio
heroku3
psutil
hachoir
aiofiles
numpy
Pillow
requests
pykeyboard
aiohttp
aiofiles
ffmpeg
music_tag
html_telegraph_poster
unshortenit
pyshorteners
beautifulsoup4
olefile
feedparser
python-decouple
python-dotenv
html_telegraph_poster
gdown
pykeyboard
sox
oauth2client
httplib2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
mediafiredl
pytz
ffmpeg-python
cloudscraper
telegraph[aio] 
httpx
git+https://github.com/Nkbots/nt-dl.git
git+https://github.com/Nkbots/nt-sp.git
git+https://github.com/Nkbots/nt-sr.git
git+https://github.com/Nkbots/mt-sr.git
